<div *ngIf="heroes">
  <p><b (click)="sortBy('tier')">Tier</b> - <b (click)="sortBy('name')">Name</b></p>
  <p><b (click)="sortOrder(1)">Ascending</b> - <b (click)="sortOrder(-1)">Descending</b></p>
  <ul class="hero-list">
    <li class="hero-list__item" *ngFor="let hero of heroes">
      <ul-hero [hero]="hero" [dimWhenSelected]="dimSelected"></ul-hero>
    </li>
  </ul>

  <form name="myForm" #f="ngForm">

    <span *ngFor="let item of [1,2,3,4,5]; let i=index;">
      <input [name]="'tier_'+i" type="checkbox" value="item" [(ngModel)]="tiers[i]" (change)="updateTierFilters2()">{{item}}
    </span>
  </form>

  <pre>{{
      tiers | json
    }}
    </pre>
  
  
</div>