.hero {
    position: relative;
    width: 165px;
    height: 164px;
    margin: 8px;
    background: no-repeat center center;
    background-size: auto 164px;

    &--anti-mage {
        background-image: url('/assets/images/anti-mage.jpg');
    }
    &--axe {
        background-image: url('/assets/images/axe.jpg');
    }

    &--batrider {
        background-image: url('/assets/images/batrider.jpg');
    }

    &--bloodseeker {
        background-image: url('/assets/images/bloodseeker.jpg');
    }

    &--bounty-hunter {
        background-image: url('/assets/images/bounty-hunter.jpg');
    }

    &--clockwerk {
        background-image: url('/assets/images/clockwerk.jpg');
    }

    &--drow-ranger {
        background-image: url('/assets/images/drow-ranger.jpg');
    }

    &--enchantress {
        background-image: url('/assets/images/enchantress.jpg');
    }

    &--ogre-magi {
        background-image: url('/assets/images/ogre-magi.jpg');
    }

    &--shadow-shaman {
        background-image: url('/assets/images/shadow-shaman.jpg');
    }
    
    &--tinker {
        background-image: url('/assets/images/tinker.jpg');
    }

    &--tiny {
        background-image: url('/assets/images/tiny.jpg');
    }

    &--tusk {
        background-image: url('/assets/images/tusk.jpg');
    }

    &--warlock {
        background-image: url('/assets/images/warlock.jpg');
    }

    &--beastmaster {
        background-image: url('/assets/images/beastmaster.jpg');
    }

    &--chaos-knight {
        background-image: url('/assets/images/chaos-knight.jpg');
    }

    &--crystal-maiden {
        background-image: url('/assets/images/crystal-maiden.jpg');
    }

    &--juggernaut {
        background-image: url('/assets/images/juggernaut.jpg');
    }

    &--luna {
        background-image: url('/assets/images/luna.jpg');
    }

    &--morphling {
        background-image: url('/assets/images/morphling.jpg');
    }

    &--natures-prophet {
        background-image: url('/assets/images/natures-prophet.jpg');
    }

    &--puck {
        background-image: url('/assets/images/puck.jpg');
    }

    &--pudge {
        background-image: url('/assets/images/pudge.jpg');
    }

    &--queen-of-pain {
        background-image: url('/assets/images/queen-of-pain.jpg');
    }

    &--slardar {
        background-image: url('/assets/images/slardar.jpg');
    }
    
    &--timbersaw {
        background-image: url('/assets/images/timbersaw.jpg');
    }

    &--treant-protector {
        background-image: url('/assets/images/treant-protector.jpg');
    }

    &--witchdoctor {
        background-image: url('/assets/images/witchdoctor.jpg');
    }

    &--abaddon {
        background-image: url('/assets/images/abaddon.jpg');
    }

    &--arc-warden {
        background-image: url('/assets/images/arc-warden.jpg');
    }

    &--lina {
        background-image: url('/assets/images/lina.jpg');
    }

    &--lycan {
        background-image: url('/assets/images/lycan.jpg');
    }

    &--omniknight {
        background-image: url('/assets/images/omniknight.jpg');
    }

    &--phantom-assassin {
        background-image: url('/assets/images/phantom-assassin.jpg');
    }

    &--razor {
        background-image: url('/assets/images/razor.jpg');
    }

    &--sandking {
        background-image: url('/assets/images/sandking.jpg');
    }

    &--shadow-fiend {
        background-image: url('/assets/images/shadow-fiend.jpg');
    }

    &--slark {
        background-image: url('/assets/images/slark.jpg');
    }

    &--sniper {
        background-image: url('/assets/images/sniper.jpg');
    }

    &--terrorblade {
        background-image: url('/assets/images/terrorblade.jpg');
    }

    &--venomancer {
        background-image: url('/assets/images/venomancer.jpg');
    }

    &--viper {
        background-image: url('/assets/images/viper.jpg');
    }

    &--wind-ranger {
        background-image: url('/assets/images/wind-ranger.jpg');
    }

    &--alchemist {
        background-image: url('/assets/images/alchemist.jpg');
    }

    &--disruptor {
        background-image: url('/assets/images/disruptor.jpg');
    }

    &--doom {
        background-image: url('/assets/images/doom.jpg');
    }

    &--dragon-knight {
        background-image: url('/assets/images/dragon-knight.jpg');
    }

    &--keeper-of-the-light {
        background-image: url('/assets/images/keeper-of-the-light.jpg');
    }

    &--kunka {
        background-image: url('/assets/images/kunka.jpg');
    }

    &--lone-druid {
        background-image: url('/assets/images/lone-druid.jpg');
    }

    &--medusa {
        background-image: url('/assets/images/medusa.jpg');
    }

    &--mirana {
        background-image: url('/assets/images/mirana.jpg');
    }

    &--necrophos {
        background-image: url('/assets/images/necrophos.jpg');
    }

    &--templar-assassin {
        background-image: url('/assets/images/templar-assassin.jpg');
    }

    &--troll-warlord {
        background-image: url('/assets/images/troll-warlord.jpg');
    }

    &--enigma {
        background-image: url('/assets/images/enigma.jpg');
    }

    &--gyrocopter {
        background-image: url('/assets/images/gyrocopter.jpg');
    }

    &--lich {
        background-image: url('/assets/images/lich.jpg');
    }

    &--techies {
        background-image: url('/assets/images/techies.jpg');
    }

    &--tidehunter {
        background-image: url('/assets/images/tidehunter.jpg');
    }

    &__footer {
        box-sizing: border-box;
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        padding: 4px 8px;
        background-color: rgba(black, 0.5);
        color: white;
    }

    &__name {
        display: block;
        text-align: center;
    }
}