<div class="hero hero--{{ hero.name | kebab }}" (click)="onHeroClicked()">
  <span class="hero__tier">{{ hero.tier }}</span>
  <div class="hero__footer">
    <b class="hero__name">{{ hero.name }}</b>
    <span class="hero__races">
      <span class="hero__race hero__race--{{ race | kebab }}" *ngFor="let race of hero.races"></span>
    </span>
    <span class="hero__roles">
        <span class="hero__role hero__role--{{ role | kebab }}" *ngFor="let role of hero.roles"></span>
      </span>
  </div>
</div>
