<div class="hero hero--{{ hero.name | kebab }}" [ngClass]="{'hero--dimmed': dimWhenSelected && hero.inLineup}" (click)="onHeroClicked()">
  <span class="hero__tier">{{ hero.tier }}</span>
  <div class="hero__footer">
    <b class="hero__name">{{ hero.name }}</b>
    <span class="hero__races">
      <span *ngFor="let race of hero.races" class="hero__race hero__race--{{ race | kebab }}" title="{{ race }}"></span>
    </span>
    <span class="hero__roles">
        <span *ngFor="let role of hero.roles" class="hero__role hero__role--{{ role | kebab }}" title="{{ role }}"></span>
      </span>
  </div>
</div>
